<router-outlet></router-outlet>
<app-tabela [dados]="dados">
    <!--
         dadosLinha é injetado pelo app-tabela a cada
         loop do array dados.
         Pegamos essa referência na variável let-item e 
         assim conseguimos acesso as propriedades.

         #coluna -> serve como um identificador para
         que possamos pegar essas referências dentro do
         app-tabela
     -->
     <ng-template #colunas let-item="dadosLinha">
      <a [attr.href]="'teste/' + item.id">{{item.id}}</a>
     </ng-template>

     <ng-template #coluna let-item="dadosLinha">
      <img src="'https://via.placeholder.com/100x60?text=' + item.nome" 
      [attr.alt]="item.nome">
     </ng-template>
     
     
</app-tabela>